.close-button{
    color:#2196F3 !important;
    float:right;
}

.container{

    border-style: ridge;
    border:1px solid grey !important;
    border-radius:5px;
    padding:15px;
    width: 35%;
} 


.complete{
    display: block;
    float: right;
    border:1px solid #2196F3 !important ;
}